.container{
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    justify-content: center;

    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;

    background-color: #ffffff;
    width: 500px;
    border-radius: 20px;
}