.container{
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    justify-content: center;
    
    margin: 30px;
    padding: 10px;

    background-color: #e4e4e4;
    width: auto;
}
