button{
  background-color: rgb(48, 119, 177);  
 
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 5px;

  font-size: 0.9rem;
  color: white;
  border-radius: 10px;
}

button:hover{
    background-color: rgb(26, 66, 99);
    cursor: pointer;
}

h2{
    margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: center;
}