.students-menu {

    margin: auto;
  
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;

    width: 50%;

}

h2 {
    text-align: center;
  }

a {
background-color: rgb(255, 68, 99);
border-radius: 12px;
padding: 1rem;
font-size: 1.1rem;
text-decoration: none;
display: inline-block;
color: #fff;
text-align: center;
width: 100%;
min-width: 70px;
margin: .5rem auto;
box-sizing: border-box;

/* flexbox */
order: 0;
flex: 0 1 auto;
align-self: auto;
}

@media (min-width: 600px) {
a {
    width: 18%;
    box-sizing: content-box;
}
}

a:hover {
background-color: rgb(197, 27, 55);
}