/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    border: 0;
    font-family: 'Comfortaa', cursive;
}

body{
    background-image: url(https://source.unsplash.com/2LJ4rqK2qfU);
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    background: rgb(226, 226, 226);
    margin: 3px;
    width: 100%;
    margin-bottom: 15px;
    height: 22px;

    font-size: 0.9rem;
}