<div *ngIf="student">

<div class="container">
  <div class=content>

  <div class="container">
      <h2 class=title>{{student.name | uppercase}}</h2>
  </div>

    <label for="id"> ID: </label><br>
    <input id="id" [(ngModel)]="student.id" placeholder="ID"><br>

    <label for="ra"> RA: </label><br>
    <input id="ra" [(ngModel)]="student.ra" placeholder="RA"><br>

    <label for="name">Nome do estudante: </label><br>
    <input id="name" [(ngModel)]="student.name" placeholder="nome"><br>

    <label for="age">Idade: </label><br>
    <input id="age" [(ngModel)]="student.age" placeholder="idade"><br>

    <label for="class">Classe: </label><br>
    <input id="class" [(ngModel)]="student.sala" placeholder="classe"><br>

    <label for="Parent Name">Nome do Responsável: </label><br>
    <input id="Parent Name" [(ngModel)]="student.parent" placeholder="responsável">

    <div class="container">
      <button (click)="save()">Salvar</button>
      <button (click)="goBack()">Voltar</button>
    </div>  

  </div>
</div>
</div>

